<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!-- Icon -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Style CSS-->
        <link href="CSS/Style.css" rel="stylesheet">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/icon" href="Images/favicon.ico"/>


        <!--Title-->
        <title>Reset Password</title>
    </head>

    <body class="Home1">
        <!--Navigation Bar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
            <img src="Images/blucala-logo-p-500.png" width="auto" height="50" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
                    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#Promodal" href="#">Join as pro</a>
                    </li>
                    <li>
                        <a class="nav-link" data-toggle="modal" data-target="#Clientomodal" href="#">Sign up</a>
                    </li>
                    <li>
                        <a class="nav-link" data-toggle="modal" data-target="#LoginModal" href="#">Log in</a>
                    </li>
                </ul>
            </div>
        </nav>
    <!--Navigation Bar End-->


    <!--Modal for Sign up pro-->
    <div id="Promodal"  class="modal fade bd-example-modal-lg">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container">
                        <div class="left">
                            <img class="ImagePro" src="Images/Asset-2.png" width="20%" alt="Pro Worker">
                            <div class="Procontent">
                                <h5><b>Waits what a Pro?</b></h5>
                                <p>Blucala pros are local business owners right in your community.<br>
                                    They're the neignbors you just haven't met yet, with the skills <br>
                                    you need to get the job done.
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <div class="authfy-heading">
                                <h5 class="auth-title">Pro Sign Up</h5>
                                <p>Lets get you some deals</p>
                            </div>
                            <form id="ProRegistration" action="">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="" placeholder="Last Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Business Name" required>
                                </div>
                                <div class="form-group">
                                        <select class="form-control">
                                                <option value="" disabled selected>Select your Speciality </option>
                                                <option value="1">Painter</option>
                                                <option value="2">Plumber</option>
                                                <option value="3">Carpenter</option>
                                                <option value="4">Landryman</option>
                                                <option value="5">Dj</option>
                                                <option value="6">Makeup Artist</option>
                                              </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Input Your Speciality if not listed">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Phone Number" required>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option value="" disabled selected>ID Card Type</option>
                                        <option value="1">Voters ID</option>
                                        <option value="2">Drivers License</option>
                                        <option value="3">Passport</option>
                                        <option value="4">National ID</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option value="" disabled selected>Select your Location Region</option>
                                        <option value="1">Greater Accra</option>
                                        <option value="2">Volta</option>
                                        <option value="3">Eastern</option>
                                        <option value="4">Ashanti</option>
                                        <option value="5">Northern</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Adress" required>
                                </div>
                                <div class="form-group">
                                    <input type="date" class="form-control" placeholder="Date of Birth">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="" placeholder="Password" required>
                                </div>
                                <div class="form-row" id="comment-message">
                                    <textarea name="comment" id="comment" placeholder="Comment"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Modal Sign Up Pro-->

        <!--Modal Sign Up Client-->
        <div id="Clientomodal"  class="modal fade bd-example-modal-lg">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="container">
                            <div class="left">
                                <img class="ImageClient" src="Images/Asset-4-1-p-500.png" width="20%" alt="Pro Worker">
                                <div class="Clientcontent">
                                    <h5><b>For blucala clients</b></h5>
                                    <p>Blucala assists you to get quotes from several sources, compare
                                            them and makes the right choice.
                                    </p>
                                </div>
                            </div>
                            <div class="right">
                                <div class="authfy-heading">
                                    <h5 class="auth-title">Client Sign Up</h5>
                                    <p>Lets get your job done</p>
                                </div>
                                <form id="ClientRegistration" action="">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="First Name" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="" placeholder="Last Name" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" class="form-control" placeholder="Phone Number" required>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary pull-left">Sign Up</button>
                                    <div class="pull-right">
                                    <p>Or Signup with <br><a href="#">Google</a>/<a href="#"> Facebook</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--End Modal Sign Up Client-->

        <!--Modal Login-->
        <div id="LoginModal"  class="modal fade bd-example-modal-sm">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="container">
                                <form id="LoginForm" action="">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Username" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                    
                                    <div class="LoginForm-button">
                                    <button type="submit" class="btn btn-primary pull-right">Sign Up</button>

                                    <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></button>
                                    <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-google"></i></button>
                                    </div>

                                    <div class="reset-password">
                                        <a class="pull-right" href="Reset Password.html">Reset Password</a>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        <!--End Modal Log In Start-->

        <!--Main content-->
        <div class="container">
            <div class="Password-content-reset">
                <h4>Reset your password</h4>
                <div class="card width-100">
                    <div class="card-body">
                        <p>Email address</p>
                        <form id="reset-password">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="User@example.com">
                            </div>
                            <p class="text">Enter the email address associated with your account, and we'll email you a link to reset your password.</p>
                            <button type="button" class="btn btn-primary btn-block">Send Reset Link</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--End main content-->


        <!--Start Footer-->
        <footer class="footer  bg-light">
            <div class="row">
                <div class="col-sm-9 inner-left">
                    <a class="nav-link disabled" tabindex="-1" aria-disabled="false">&copy Blucala. All rights Reserved</a>
                </div>
                <div class="col-sm-3  inner-right">
                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav">
                            <li class="nav-item active ">
                                <a class="nav-link" href="http://blucala.com/" target="_blank">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://blucala.com/" target="_blank">Privacy Policy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://blucala.com/" target="_blank">Terms Of Use</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>                     
        </footer>
        <!--End Footer-->
        
        
        
        
        
        
        
        
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
   </body>
</html>